@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Book store app</h1>
    <p>You can add and edit books here and save all the books in the database also you can delete any books from the
        database. Enjoy our application we have build for you.
    </p>
</div>
